*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    transition: .3s ease;
  }
  body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(115, 178, 207, 0.3);
    background-image: linear-gradient(to bottom right, blue, white);
    background-size: cover; 
    }
  .container{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  .grid {
    display: flex;
    width: 400px;
    height: 300px;
    flex-wrap: wrap;
  }
  .tile{
    padding: 2.5px;
    width: 75px;
    height: 75px;
    border-radius: 10px;
    cursor: pointer;
  }
  .score{
    width: 460px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .active{
    color: 
  rgb(255, 244, 244);
    padding: 10px 30px;
    /* border-radius: 30px; */
    background: 
  rgb(203, 194, 19);
    box-shadow: 0 0 30px rgba(255, 196, 1, 0.8);
  }
  .reload{
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 20px;
    cursor: pointer;
  }
  .reload:hover{
    transform: scale(1.2);
  }

  